<header>
  <div class="nav-wrapper">
    <nav>
      <div class="bg">
        <input class="hidden" type="checkbox" id="menuToggle" />
        <label class="menu-btn" for="menuToggle">
          <div class="menu"></div>
          <div class="menu"></div>
          <div class="menu"></div>
        </label>
        <div class="nav-container">
          <ul class="nav-tabs">
            {{#if isUserLoggedIn}}
              <li id="subrallado-menú" class="nav-tab"><a
                  href="/"
                >Inicio</a></li>
              <li class="nav-tab"><a href="/favoritos">Favoritos</a></li>
              <li class="nav-tab"><a href="/event">Eventos</a></li>
              <li class="nav-tab"><a href="/event/attractions">Artistas</a></li>

              <li class="nav-tab"><a href="/auth/logout">Cerrar Sesión</a></li>
            {{else}}
              <li class="nav-tab"><a href="/auth/signup">Registrarse</a></li>
              <li class="nav-tab"><a href="/auth/login">Iniciar Sesión</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<main>
  <div class="container-list">
    <div class="list">
      {{#each events}}
        <div class="card-container">
          <img class="img-card" src="{{this.images.6.url}}" alt="" />
          <div class="text-card">
            <div class="title-card">
              <h2> {{this.name}}</h2>
            </div>
            <div class="rrss">
              <a class="youtube" href="{{this.externalLinks.youtube.0.url}}">
                <img src="/images/youtube.png" alt="YT Icon" /></a>
              <a class="twitter" href="{{this.externalLinks.twitter.0.url}}">
                <img src="/images/twitter.png" alt="TW Icon" /></a>
              <a class="itunes" href="{{this.externalLinks.itunes.0.url}}">
                <img src="/images/itunes.png" alt="IT Icon" /></a>
              <a
                class="instagram"
                href="{{this.externalLinks.instagram.0.url}}"
              ><img src="/images/instagram.png" alt="IG Icon" /></a>
            </div>
            <div class="url">
              <a class="ticket-btn" href="{{this.url}}">Tickets</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>